


.headerContainer {
  display: flex;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  width: 20%;
  height: auto;
  text-align: center;
  align-items: center;
  z-index: 1;
  align-items: center;
justify-content: center;
}

.headerButton {
  width: 100%;
}

.footerContainer {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: auto;
    text-align: center;
    align-items: center;
    z-index: 1;
    align-items: center;
  justify-content: center;
  }

.footerButton {
  width: 30%;
  margin: .6em;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 0px) and (max-width: 700px)
{
  .headerContainer {
    width: 80%;
  }
  .footerContainer {
    width: 100%;
  }


}

